// Theme Width.
$themeWidth: 1440px;

// Content Width.
$contentWidth: 880px;
$wideBlockWidth: 1120px;

// Fullwidth Template.
$contentFullwidth: 1280px;
$wideBlockFullwidth: 1440px;

// Theme Colors
$themeColors: (

	// Block Editor Colors
	--primary-color                  : #c9493b,
	--secondary-color                : #e36355,
	--accent-color                   : #078896,
	--highlight-color                : #5bb021,
	--light-gray-color               : #e4e4e4,
	--gray-color                     : #848484,
	--dark-gray-color                : #242424,

	// Text Colors
	--text-color                     : #303030,
	--medium-text-color              : #666,
	--light-text-color               : #999,
	--dark-border-color              : #303030,
	--medium-border-color            : #ccc,
	--light-border-color             : #ddd,

	// Links and Buttons
	--link-color                     : #dd5533,
	--link-hover-color               : #303030,
	--button-color                   : #dd5533,
	--button-text-color              : #fff,
	--button-hover-color             : #303030,
	--button-hover-text-color        : #fff,

	// Header
	--header-background-color        : #303030,
	--header-text-color              : #fff,
	--site-title-color               : #fff,
	--site-title-hover-color         : rgba(255, 255, 255, 0.6),

	// Navigation
	--navi-color                     : #fff,
	--navi-hover-color               : #dd5533,
	--navi-border-color              : rgba(255, 255, 255, 0.2),

	// Content
	--page-background-color          : #fff,
	--page-border-color              : #dd5533,
	--title-color                    : #dd5533,
	--title-hover-color              : #303030,

	// Widgets
	--widget-background-color        : #fff,
	--widget-border-color            : #dd5533,
	--widget-title-color             : #dd5533,
	--widget-title-hover-color       : #303030,

	// Footer
	--footer-background-color        : #303030,
	--footer-text-color              : rgba(255, 255, 255, 0.6),
	--footer-link-color              : #fff,
	--footer-link-hover-color        : rgba(255, 255, 255, 0.6),
);

// Theme Fonts
$baseFont: "Open Sans", arial, helvetica, sans-serif;
$titleFont: "Titillium Web", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font        : $baseFont,
	--title-font       : $titleFont,
	--navi-font        : $titleFont,
	--widget-title-font: $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight: normal,
	--navi-font-weight : normal,
	--widget-title-font-weight: normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform: uppercase,
	--navi-text-transform: uppercase,
	--widget-title-text-transform: uppercase,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.75,
	--title-line-height : 1.4,
);
