.type-post,
.type-page,
.type-attachment,
.comments-area,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) {
	margin: 0 0 2em 0;
	padding: 1.5em;
	max-width: 100%;
	border-top: 3px solid;
	@include border-color(--page-border-color);
	@include background(--page-background-color);
	box-shadow: 0 2px 2px #aaa;
}

.archive-title,
.page-title,
.entry-title {
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(28);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

.type-post .wp-post-image,
.type-page .wp-post-image,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image,
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content > *:first-child {
	margin-top: 1.5em;
}

.sticky {
	border-width: 5px;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
