.type-post,
.type-page,
.type-attachment,
.comments-area,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) {
	margin: 0 0 2em 0;
	padding: 1.5em;
	max-width: 100%;
	border-top: 3px solid #dd5533;
	background: #fff;
	box-shadow: 0 2px 2px #aaa;
}

.archive-title,
.page-title,
.entry-title {
	margin: 0;
	padding: 0;
	color: #dd5533;
	text-transform: uppercase;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Titillium Web', Tahoma, Arial;
}

.entry-title a:link,
.entry-title a:visited {
	color: #dd5533;
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	color: #303030;
}

.type-post .wp-post-image,
.type-page .wp-post-image,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image,
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content a {
	text-decoration: underline;
}

.sticky {
	background: none;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
