.type-post,
.type-page,
.type-attachment,
.comments-area,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment),
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) {
	margin: 0 0 2em 0;
	padding: 1.5em;
	max-width: 100%;
	border-top: 3px solid #dd5533;
	background: #fff;
	box-shadow: 0 2px 2px #aaa;
}

.archive-title,
.page-title,
.entry-title {
	margin: 0;
	padding: 0;
	color: #dd5533;
	text-transform: uppercase;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 28px;
	font-size: 1.75rem;
	font-family: 'Titillium Web', Tahoma, Arial;
}

.entry-title a:link,
.entry-title a:visited {
	color: #dd5533;
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active{
	color: #303030;
}

.type-post .wp-post-image,
.type-page .wp-post-image,
.site-main > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image,
.post-wrapper > .post-column > article:not(.type-post):not(.type-page):not(.type-attachment) .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content a {
	text-decoration: underline;
}

.sticky {}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0;
	padding: 0.6em 1em;
	background: #dd5533;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-size: 0.9375rem;
	transition: all 0.2s ease;
}

.more-link:link,
.more-link:visited  {
	color: #fff;
}

.more-link:hover,
.more-link:active {
	background: #303030;
	text-decoration: none;
}

.more-link:after {
	content: " \00BB";
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}

/* Entry Meta */
.entry-meta {
	margin: 0;
	padding: 0;
	color: #303030;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-meta .meta-date,
.entry-meta .meta-author,
.entry-meta .meta-category,
.entry-meta .meta-comments {
	margin-right: 1.5em;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #303030;
}

.entry-meta a:hover,
.entry-meta a:active {
	color: #777;
}

.entry-meta span:before {
	display: inline-block;
	margin-right: 0.2em;
	vertical-align: middle;
	font: normal 16px 'Genericons';
	-webkit-font-smoothing: antialiased;
}

.entry-meta .meta-date:before{
	content: '\f307';
}

.entry-meta .meta-author:before{
	content: '\f304';
}

.entry-meta .meta-category:before{
	content: '\f301';
}

.entry-meta .meta-comments:before{
	content: '\f300';
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.categories-hidden .type-post .entry-meta .meta-category,
body.comments-hidden .type-post .entry-meta .meta-comments,
body.date-hidden .post-slider .entry-meta .meta-date,
body.author-hidden .post-slider .entry-meta .meta-author {
	 position: absolute;
	 clip: rect(1px, 1px, 1px, 1px);
}

body.date-hidden.author-hidden.categories-hidden.comments-hidden .content-area .type-post .entry-meta {
	display: none;
}

/* Entry Tags & Tagcloud Widget */
.entry-tags {
	margin: 0 0 1.5em;
}

.widget_tag_cloud .tagcloud,
.entry-tags .meta-tags {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud:before,
.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:before,
.entry-tags .meta-tags:after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud:after,
.entry-tags .meta-tags:after {
	clear: both;
}

.widget_tag_cloud .tagcloud a,
.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em;
	background: #303030;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px !important;
	font-size: 0.75rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited,
.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	color: #fff;
	transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active,
.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	background: #dd5533;
	color: #fff;
}

/* Post Navigation */
.post-navigation {
	margin: 0;
}

.post-navigation .nav-links .nav-previous {
	float: left;
}

.post-navigation .nav-links .nav-next {
	float: right;
}

.post-navigation .nav-links .nav-previous a:before {
	margin-right: 3px;
	content: "\00AB";
}

.post-navigation .nav-links .nav-next a:after {
	margin-left: 4px;
	content: "\00BB";
}

.post-navigation .nav-links a {
	display: inline-block;
	margin: 0 0 3px;
	padding: 0.3em 0.8em;
	background: #dd5533;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-size: 0.875rem;
	transition: all 0.2s ease;
}

.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited  {
	color: #fff;
}

.post-navigation .nav-links a:hover,
.post-navigation .nav-links a:active {
	background: #303030;
}

/* Theme Pagination */
.pagination {
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0.4em 1em;
	background: #303030;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	background: #dd5533;
}

/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle,
.infinite-scroll .infinite-loader {
	width: 100%;
	text-align: center;
}

.infinite-scroll .infinite-loader .spinner {
	bottom: -1em;
	left: auto;
	margin: 0 auto;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 2em;
	padding: 0.4em 1em;
	background: #303030;
	text-decoration: none;
	font-size: 17px;
	font-size: 1.0625rem;
}

.infinite-scroll #infinite-handle span:hover {
	background: #dd5533;
}

/* Archives and Search Heading */
.page-header {
	margin: 0 0 2em 0;
	padding: 1.5em;
	border-top: 3px solid #dd5533;
	background: #fff;
	box-shadow: 0 2px 2px #aaa;
}

.blog-description,
.archive-description p {
	margin-bottom: 0;
}

/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	padding: 0.5em 0;
	background: #fff;
	box-shadow: 0 2px 2px #aaa;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.breadcrumbs-container {
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after { content: "\002F"; }
.trail-separator-dash .trail-items li::after { content: "\2013"; }
.trail-separator-bull .trail-items li::after { content: "\2022"; }
.trail-separator-arrow-bracket .trail-items li::after { content: "\003e"; }
.trail-separator-raquo .trail-items li::after { content: "\00bb"; }
.trail-separator-single-arrow .trail-items li::after { content: "\2192"; }
.trail-separator-double-arrow .trail-items li::after { content: "\21D2"; }

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}

/* Post Columns */
.post-layout-columns .post-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -2em;
}

.post-layout-columns .post-wrapper .post-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	padding-right: 2em;
}

.post-layout-columns .post-wrapper .post-column article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.post-layout-columns .post-wrapper .post-column article .entry-title {
	font-size: 22px;
	font-size: 1.375rem;
}

.post-layout-columns .post-wrapper .post-column article .entry-content {
	flex-grow: 1;
	font-size: 16px;
	font-size: 1rem;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
}

.post-layout-columns .post-wrapper .post-column article .more-link {
	font-size: 15px;
	font-size: 0.9375rem;
}

/* 2 Columns */
.post-layout-two-columns .post-wrapper .post-column {
	width: 50%;
}

/* 3 Columns */
.post-layout-three-columns .content-archive {
	float: none;
	padding: 0;
	width: 100%;
}

.post-layout-three-columns .post-wrapper .post-column {
	width: 33.3333333333333%;
}

/* Post Columns Fixes for IE 10 and IE 11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.post-layout-columns .post-wrapper .post-column,
	.post-layout-columns .post-wrapper .post-column article {
		display: block;
	}

}
