.footer-wrap {
	@include background(--footer-background-color);
}

.site-footer {
	@include color(--footer-text-color);
	font-size: 15px;
	font-size: 0.9375rem;
}

.site-footer .site-info {
	float: left;
	padding: 2.5em 0;
}

.site-footer a:link,
.site-footer a:visited {
	border-bottom: 1px dotted;
	@include border-color(--footer-text-color);
	@include color(--footer-link-color);
}

.site-footer a:hover,
.site-footer a:focus,
.site-footer a:active {
	@include color(--footer-link-hover-color);
}
