.primary-navigation-wrap {
	border-bottom: 5px solid #dd5533;
	background: rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #fff;
}

.primary-navigation-container {
	position: relative;
}

.primary-navigation {
	position: relative;
	width: 100%;
}

/* Hide the menu on small screens when JavaScript is available. */
.main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation ul a > .icon {
	display: none;
}

.main-navigation.toggled-on > ul.menu {
	display: block;
}

/* Main Navigation Toggle */
.primary-menu-toggle {
	display: flex;
	margin: 0;
	padding: 0.8em 1.2em;
	border: none;
	background: #dd5533;
	color: #fff;
	text-decoration: none;
	@include font-size(16);
	font-family: 'Titillium Web', Tahoma, Arial;
	text-transform: uppercase;
	text-align: left;
	transition: all 0.2s ease;
	align-items: center;
}

.primary-menu-toggle:focus {
	outline: thin dotted;
	color: #fff;
	background: #dd5533;
}

.primary-menu-toggle:hover,
.primary-menu-toggle:active {
	color: rgba(255, 255, 255, 0.5);
	background: #dd5533;
	cursor: pointer;
}

.primary-menu-toggle .icon {
	margin: 0;
	width: 24px;
	height: 24px;
	vertical-align: top;
	fill: #fff;
}

.primary-menu-toggle[aria-expanded="true"] .icon-menu,
.primary-menu-toggle[aria-expanded="false"] .icon-close {
	display: none;
}

.primary-menu-toggle[aria-expanded="true"] .icon-close {
	display: inline-block;
}

/* Menu Items Styling */
.main-navigation ul {
	margin: 0;
	padding: 0;
	color: #fff;
	list-style: none;
	@include font-size(16);
	font-family: 'Titillium Web', Tahoma, Arial;
	text-transform: uppercase;
}

.main-navigation > ul {
	padding: 3px 0;
	border-top: 5px solid #dd5533;
}

.main-navigation ul li {
	position: relative;
	margin: 0;
}

.main-navigation ul a {
	display: block;
	margin: 0;
	padding: 1em 1.5em;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

.main-navigation ul li:last-child > a {
	border-bottom: none;
}

.main-navigation ul a,
.main-navigation ul a:link,
.main-navigation ul a:visited {
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.main-navigation ul a:hover,
.main-navigation ul a:active,
.main-navigation ul a:focus {
	background-color: #dd5533;
}

.main-navigation ul li.current-menu-item > a {
	background-color: #dd5533;
}

/* Submenus */
.main-navigation ul ul {
	@include font-size(13);
}

.is-amp-page .main-navigation ul button.toggled-on + ul,
.main-navigation ul ul.toggled-on {
	display: block;
}

.main-navigation ul ul a {
	padding-left: 3em;
}

.main-navigation ul ul ul a {
	padding-left: 4.5em;
}

.main-navigation ul ul ul ul a {
	padding-left: 6em;
}

/* Submenu Dropdown Toggles */
.main-navigation .dropdown-toggle {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 0.9em 1.5em;
	background: none;
	border: none;
}

.main-navigation .dropdown-toggle:focus {
	outline: thin dotted;
	color: #fff;
	background: none;
}

.main-navigation .dropdown-toggle:hover,
.main-navigation .dropdown-toggle:active {
	background-color: #dd5533;
}

.main-navigation .dropdown-toggle .icon {
	margin: 0.2em 0 0;
	width: 20px;
	height: 20px;
	vertical-align: top;
	fill: #fff;
}

.main-navigation .dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

.main-navigation ul ul .dropdown-toggle {
	padding: 0.6em 1.2em;
}

.main-navigation ul ul .dropdown-toggle .icon {
	width: 18px;
	height: 18px;
}
