@media only screen and (max-width: 50em) {

	/* Gallery */
	.gallery-item {
		padding: 0 0.75em 0.5em 0;
	}

	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 25%;
	}
}

@media only screen and (max-width: 30em) {
	.alignright,
	.alignleft {
		float: none;
		margin: 1em 0;
	}

	/* Gallery */
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		max-width: 50%;
	}
}
