@media only screen and (min-width: 60em) {
	.primary-menu-toggle,
	.main-navigation .dropdown-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation ul ul {
		display: block;
	}

	.primary-navigation {
		display: flex;
		margin-left: auto;
		width: auto;
		align-items: center;
	}

	#masthead .main-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: none;
	}

	.main-navigation > ul {
		padding: 0;
		border: none;
	}

	.main-navigation > ul > li > a {
		padding: 0.8em 1.2em;
		border: none;
	}

	/* Dropdown Menus */
	.main-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		border-top: 5px solid;
		@include border-color(--navi-hover-color);
		@include background(--header-background-color);
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: auto;
		left: 0;
	}

	.main-navigation ul ul li a {
		width: 16rem;
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -5px;
		top: 0;
		border-left: 1px dotted rgba(255, 255, 255, 0.2);
		border-left: 1px dotted var(--navi-border-color);
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: auto;
		left: 100%;
	}

	.main-navigation ul ul li a,
	.main-navigation ul ul ul li a,
	.main-navigation ul ul ul ul li a {
		padding: 1em;
	}

	/* Dropdown Icons */
	.main-navigation .menu-item-has-children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.1rem;
		width: 14px;
		height: 14px;
		@include fill(--navi-color);
		transition: fill 0.15s ease;
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.5rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
