html {
	box-sizing: border-box;
}

/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #ddd; /* Fallback for when there is no custom background color defined. */
}

blockquote {
	margin: 0 0 1.5em;
	padding: 0.05em 1.25em 1em;
	border: 1px solid #ddd;
	border-left: 3px solid #dd5533;
	color: #777;
	font-style: italic;
	font-size: 18px;
	font-size: 1.125rem;
}

blockquote cite,
blockquote small {
	display: block;
	margin-top: 1em;
	color: #404040;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0.5em;
}

hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: #ddd;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

th,
td {
	padding: 0.3em 0.6em;
	border: 1px solid #ddd;
}

a {
	color: #dd5533;
	text-decoration: none;
}

a:link,
a:visited {
	color: #dd5533;
}

a:hover,
a:focus,
a:active {
	color: #303030;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
