/* Theme Pagination */
.pagination {
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0.4em 1em;
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	@include color(--button-hover-text-color);
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	@include background(--button-color);
	@include color(--button-text-color);
}
