/* Theme Pagination */
.pagination {
	margin: 0 0 2em;
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0.4em 1em;
	background: #303030;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.pagination a:link,
.pagination a:visited {
	color: #fff;
}

.pagination a:hover,
.pagination a:active,
.pagination .current {
	background: #dd5533;
}
