/* Sidebar Left Layout */
.sidebar-left .content-area {
	float: right;
	padding-right: 0;
	padding-left: 2em;
}

.sidebar-left .sidebar {
	float: left;
}

@media only screen and (max-width: 80em) {
	.sidebar-left .content-area {
		padding-right: 0;
		padding-left: 1.5em;
	}
}

@media only screen and (max-width: 60em) {
	.sidebar-left .content-area {
		padding: 0;
	}
}

.sidebar-left.post-layout-three-columns .content-archive {
	float: none;
	padding: 0;
	width: 100%;
}
