.widget {
	margin: 0 0 2em 0;
	padding: 1em 1.5em 1.5em;
	max-width: 100%;
	border-top: 3px solid;
	@include border-color(--widget-border-color);
	@include background(--widget-background-color);
	box-shadow: 0 2px 2px #aaa;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1em 0;
}

.widget-title {
	display: block;
	margin: 0;
	padding: 0;
	@include color(--widget-title-color);
	@include font-size(20);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
}

.widget-title a:hover,
.widget-title a:active {
	@include color(--widget-title-hover-color);
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Theme Calendar Widget */
.widget_calendar {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_calendar table {
	margin: 0;
}

.widget_calendar table caption {
	padding: 0 0 1em;
}

.widget_calendar table thead tr {
	background: #f5f5f5;
}

.widget_calendar table tr td {
	text-align: center;
}

.widget_calendar table tbody tr td a {
	font-weight: bold;
}

.widget_calendar table tfoot tr td {
	padding-top: 1em;
	border: none;
}

.widget_calendar table tfoot tr #prev {
	text-align: left;
}

.widget_calendar table tfoot tr #next {
	text-align: right;
}
